body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 20px darkgray;
}

h1 {
    font-weight: 700;
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

#qrcode {
 width: 100%;
 border-radius: 20px;
}