body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: Outfit;
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px darkgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 700;
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

#qrcode {
 width: 100%;
 border-radius: 20px;
}